@tailwind base;
@tailwind components;
@tailwind utilities;

article h1{
  font-weight: bold;
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 20px;
}
article h2{
  font-weight: bold;
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 10px;
}
article h3{
  font-weight: bold;
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 10px;
}
article p{
  margin-top: 10px;
  margin-bottom: 10px;
  text-wrap: balance;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
article img{
  margin-top: 10px;
  margin-bottom: 10px;
}
h1{
  font-weight: bold;
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2{
  font-weight: bold;
  font-size: x-large;
}
p{
  text-wrap: balance;
  font-size: 1.125rem;
  line-height: 1.75rem;
}