@tailwind base;
@tailwind components;
@tailwind utilities;

article h1{
  font-weight: bold;
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 20px;
}
article h2{
  font-weight: bold;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
}
article p{
  margin-top: 20px;
  margin-bottom: 20px;
}
article img{
  margin-top: 20px;
  margin-bottom: 20px;
}
h1{
  font-weight: bold;
  font-size: xx-large;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2{
  font-weight: bold;
  font-size: x-large;
}